<img src="{{albums.album_logo}}" width="300" height="300">
<h2>{{albums.artist}}</h2>


<ul>
    <h3>{{albums.title}}</h3>
    {% if all_songs %}
    <table>
    <tr>
        <td> Artist  </td>
        <td> Album title </td>
        <td> genre </td>
        <td> File type </td>
        <td> Song title </td>
    </tr>
    {% for list in all_songs %}
        <tr>
            <td>{{albums.artist}}</td>
            <td>{{albums.album_title}}</td>
            <td>{{albums.genre}}</td>
            <td>{{list.file_type}}</td>
            <td>{{list.song_title}}</td>
        </tr>
    {% endfor %}

    </table>
    {% else %}
    <h4>sorry no songs available</h4>
    {% endif %}
</ul>